# SUPPLY CHAIN ANALYTICS PROJECT

## I) PROJECT DESCRIPTION

The objective of this project is to analyze the supply chain performance of a fashion and beauty startup dealing with makeup products. The analysis focuses on understanding product demand patterns, inventory efficiency, supplier performance, manufacturing effectiveness, and logistics performance using structured supply chain data.

## II) METHODOLOGY

To analyze demand patterns and improve the efficiency of the makeup product supply chain using data-driven insights.

### Methods Used

Descriptive Analysis – To summarize sales, revenue, stock levels, and shipping performance.

Exploratory Analysis – To identify trends and relationships between demand, inventory, and logistics.

Diagnostic Analysis – To determine root causes of stockouts, delays, and quality issues.

### Tools

Python – Used for data cleaning, preprocessing, EDA, and inventory segmentation.

Power BI – Used to create interactive supply chain dashboards.

Stakeholder Dashboards

Sales Manager – Tracks sales, revenue, and product demand.

Inventory Manager – Monitors stock levels and order fulfillment.

Shipping Manager – Monitors deliveries, delays, and logistics efficiency.

### **Overall target:**
Create an _interactive dashboard_ to summarize the research of the problem of the supply chain and suggest the solution

In [28]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## III) DATA PREPROCESSING

### Data overview

In [29]:
fulfillment=pd.read_excel('suppply-chain-data- 600final.xlsx')
fulfillment.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55.0,802.0,8661.996792,Non-binary,58.0,7.0,96.0,...,Mumbai,29.0,215.0,29.0,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95.0,736.0,7460.900065,Female,53.0,30.0,37.0,...,Mumbai,23.0,517.0,30.0,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34.0,8.0,9577.749626,Unknown,1.0,10.0,88.0,...,Mumbai,12.0,971.0,27.0,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68.0,83.0,7766.836426,Non-binary,23.0,13.0,59.0,...,Kolkata,24.0,937.0,18.0,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26.0,871.0,2686.505152,Non-binary,5.0,3.0,56.0,...,Delhi,5.0,414.0,3.0,92.065161,Fail,3.145580,Air,Route A,923.440632

In [30]:
fulfillment.shape

(600, 24)

### Data cleaning

In [31]:
fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             600 non-null    object
 1   SKU                      600 non-null    object
 2   Price                    600 non-null    float64
 3   Availability             600 non-null    float64
 4   Number of products sold  600 non-null    float64
 5   Revenue generated        600 non-null    float64
 6   Customer demographics    600 non-null    object
 7   Stock levels             600 non-null    float64
 8   Lead times               600 non-null    float64
 9   Order quantities         600 non-null    float64
 10  Shipping times           600 non-null    float64
 11  Shipping carriers        600 non-null    object
 12  Shipping costs           600 non-null    float64
 13  Supplier name            600 non-null    object
 14  Location                 600 non-null    object
 15  Lead time                600 non-null    float64
 16  Production volumes       600 non-null    float64
 17  Manufacturing lead time  600 non-null    float64
 18  Manufacturing costs      600 non-null    float64
 19  Inspection results       600 non-null    object
 20  Defect rates             600 non-null    float64
 21  Transportation modes     600 non-null    object
 22  Routes                   600 non-null    object
 23  Costs                    600 non-null    float64
dtypes: float64(15), object(9)
memory usage: 112.6+ KB

Checking for missing value

In [32]:
fulfillment_missing_count = fulfillment.isna().sum()
print(fulfillment_missing_count)

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

There are no missing value in all three tables. This dataset seems to have already been clean

Checking for duplicates

In [33]:
duplicate_rows = fulfillment[fulfillment.duplicated()]

There are no duplicates. This dataset's quality is good!

Checking for which product category and product department the product name belongs to

In [34]:
df =fulfillment

In [35]:
df.tail(10)

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
590,cosmetics,SKU590,99.171329,8.765759,141.249687,5827.301539,Female,89.695808,1.000000,25.345935,...,Mumbai,22.806580,349.120211,10.807191,48.739560,Pending,1.878284,Rail,Route B,540.698774
591,skincare,SKU591,98.743753,22.252941,345.514245,8069.793448,Unknown,32.361733,11.737298,65.763771,...,Chennai,29.792811,340.531801,6.367765,64.342548,Pending,4.043847,Air,Route B,491.513408
592,haircare,SKU592,75.465862,15.622340,716.438559,2725.324820,Male,97.778278,11.285284,10.459378,...,Delhi,26.466757,948.108929,5.247404,30.108574,Fail,4.545671,Sea,Route A,338.854024
593,haircare,SKU593,72.577982,27.378920,36.986632,7665.446417,Non-binary,23.160809,17.083603,7.084703,...,Mumbai,9.865034,104.000000,18.650952,22.651816,Pending,1.682100,Road,Route B,746.150076
594,cosmetics,SKU594,61.850674,91.118812,895.529492,1835.157238,Male,98.768630,21.984935,79.301228,...,Delhi,4.906061,152.547461,28.117727,41.078150,Pending,0.565325,Rail,Route B,991.844212
595,skincare,SKU595,17.731121,24.890063,154.807081,1957.520116,Female,74.433068,29.444773,35.254841,...,Kolkata,29.427098,784.265749,5.883518,8.379180,Fail,1.594540,Air,Route B,622.417462
596,haircare,SKU596,79.086775,63.651677,634.886249,7091.919623,Unknown,15.820003,13.837102,28.893556,...,Kolkata,17.952032,474.672445,25.504783,62.348808,Fail,1.199866,Air,Route A,785.306951
597,haircare,SKU597,11.457392,33.397581,8.000000,9516.578357,Female,0.000000,9.820690,87.469240,...,Mumbai,13.133115,959.280087,27.504078,27.880067,Fail,4.515002,Air,Route A,137.970205
598,skincare,SKU598,94.985984,27.732534,125.794711,1915.213530,Non-binary,15.422941,21.107383,55.315358,...,Chennai,25.420884,741.614246,11.481031,46.385451,Pass,2.022681,Air,Route C,912.624851
599,skincare,SKU599,15.314561,12.356067,373.280838,2851.162791,Male,45.392151,19.398208,70.253049,...,Mumbai,5.531539,953.605809,25.533505,2.761800,Fail,4.140979,Road,Route C,607.489554

In [36]:
missing_count = df.isna().sum()
missing_count

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product type             600 non-null    object
 1   SKU                      600 non-null    object
 2   Price                    600 non-null    float64
 3   Availability             600 non-null    float64
 4   Number of products sold  600 non-null    float64
 5   Revenue generated        600 non-null    float64
 6   Customer demographics    600 non-null    object
 7   Stock levels             600 non-null    float64
 8   Lead times               600 non-null    float64
 9   Order quantities         600 non-null    float64
 10  Shipping times           600 non-null    float64
 11  Shipping carriers        600 non-null    object
 12  Shipping costs           600 non-null    float64
 13  Supplier name            600 non-null    object
 14  Location                 600 non-null    object
 15  Lead time                600 non-null    float64
 16  Production volumes       600 non-null    float64
 17  Manufacturing lead time  600 non-null    float64
 18  Manufacturing costs      600 non-null    float64
 19  Inspection results       600 non-null    object
 20  Defect rates             600 non-null    float64
 21  Transportation modes     600 non-null    object
 22  Routes                   600 non-null    object
 23  Costs                    600 non-null    float64
dtypes: float64(15), object(9)
memory usage: 112.6+ KB

In [66]:
df[df['Revenue generated'] > 9500][['SKU', 'Product type', 'Revenue generated']]

        SKU Product type  Revenue generated
2      SKU2     haircare        9577.749626
31    SKU31     skincare        9655.135103
32    SKU32     skincare        9571.550487
38    SKU38    cosmetics        9692.318040
51    SKU51     haircare        9866.465458
90    SKU90     skincare        9592.633570
118  SKU118     haircare        9866.465458
124  SKU124    cosmetics        9648.343185
147  SKU147     skincare        9586.001555
158  SKU158    cosmetics        9641.821647
169  SKU169     skincare        9692.227973
180  SKU180     haircare        9866.465458
186  SKU186    cosmetics        9594.439597
228  SKU228     skincare        9624.452008
232  SKU232    cosmetics        9541.614261
242  SKU242     skincare        9751.519677
257  SKU257     haircare        9572.543325
279  SKU279     skincare        9866.465458
280  SKU280     skincare        9566.968887
294  SKU294    cosmetics        9542.175237
296  SKU296     skincare        9760.445957
304  SKU304     skincare        9674.478135
312  SKU312     skincare        9603.211134
348  SKU348     skincare        9525.298587
360  SKU360    cosmetics        9606.922948
367  SKU367     haircare        9866.465458
376  SKU376    cosmetics        9866.465458
393  SKU393     skincare        9726.279637
407  SKU407    cosmetics        9866.465458
420  SKU420    cosmetics        9701.524286
421  SKU421    cosmetics        9815.878361
438  SKU438     haircare        9866.465458
442  SKU442     skincare        9662.268935
459  SKU459    cosmetics        9647.144336
480  SKU480     skincare        9532.472906
495  SKU495    cosmetics        9597.285183
502  SKU502     skincare        9577.896871
509  SKU509     skincare        9766.988332
520  SKU520     skincare        9841.276769
532  SKU532    cosmetics        9809.539869
547  SKU547     skincare        9607.904857
557  SKU557    cosmetics        9542.157614
597  SKU597     haircare        9516.578357

Products with revenue greater than ₹9,500 were identified as high-performing SKUs. These products showed strong market demand and contributed significantly to the overall business performance, indicating effective demand planning and product-market fit.

In [63]:
df[(df['Revenue generated'] > 9000) & (df['Location'] == 'Mumbai')][['SKU', 'Product type', 'Revenue generated']]

        SKU Product type  Revenue generated
2      SKU2     haircare        9577.749626
38    SKU38    cosmetics        9692.318040
52    SKU52     skincare        9435.762609
67    SKU67     skincare        9473.798033
88    SKU88    cosmetics        9444.742033
137  SKU137     skincare        9471.391742
145  SKU145     skincare        9036.132807
222  SKU222     haircare        9443.292466
236  SKU236     skincare        9447.092285
274  SKU274    cosmetics        9278.573690
280  SKU280     skincare        9566.968887
282  SKU282     skincare        9437.962596
294  SKU294    cosmetics        9542.175237
312  SKU312     skincare        9603.211134
333  SKU333    cosmetics        9369.270832
348  SKU348     skincare        9525.298587
358  SKU358     skincare        9173.462723
360  SKU360    cosmetics        9606.922948
420  SKU420    cosmetics        9701.524286
438  SKU438     haircare        9866.465458
451  SKU451     skincare        9165.472113
459  SKU459    cosmetics        9647.144336
475  SKU475     skincare        9300.527222
480  SKU480     skincare        9532.472906
495  SKU495    cosmetics        9597.285183
502  SKU502     skincare        9577.896871
520  SKU520     skincare        9841.276769
521  SKU521     skincare        9255.334617
532  SKU532    cosmetics        9809.539869
543  SKU543    cosmetics        9441.046322
550  SKU550    cosmetics        9045.094629
568  SKU568     haircare        9364.608857
597  SKU597     haircare        9516.578357

High-revenue products from Mumbai-based operations were analyzed to understand regional performance. The results showed that metropolitan locations contributed disproportionately to revenue, highlighting the importance of strategic warehouse and distribution center placement.

In [49]:
df[df['Stock levels'] < 100][['SKU', 'Product type', 'Stock levels']]

        SKU Product type  Stock levels
0      SKU0     haircare     58.000000
1      SKU1     skincare     53.000000
2      SKU2     haircare      1.000000
3      SKU3     skincare     23.000000
4      SKU4     skincare      5.000000
..      ...          ...           ...
595  SKU595     skincare     74.433068
596  SKU596     haircare     15.820003
597  SKU597     haircare      0.000000
598  SKU598     skincare     15.422941
599  SKU599     skincare     45.392151

[591 rows x 3 columns]

Products with low stock levels were identified to assess stockout risks. Several fast-moving SKUs were found to have low inventory availability, indicating the need for improved replenishment planning and safety stock optimization.

In [42]:
df[df['Lead time'] > 7][['Supplier name', 'Lead time']]

    Supplier name  Lead time
0      Supplier 3  29.000000
1      Supplier 3  23.000000
2      Supplier 1  12.000000
3      Supplier 5  24.000000
5      Supplier 4  10.000000
..            ...        ...
593    Supplier 2   9.865034
595    Supplier 1  29.427098
596    Supplier 4  17.952032
597    Supplier 1  13.133115
598    Supplier 1  25.420884

[509 rows x 2 columns]

Suppliers with lead times greater than 7 days were classified as slow-performing vendors. Longer supplier lead times were associated with higher operational risk and potential disruptions in production schedules.

In [50]:
df[df['Manufacturing lead time'] > 6][['Product type', 'Manufacturing lead time']]

    Product type  Manufacturing lead time
0       haircare                29.000000
1       skincare                30.000000
2       haircare                27.000000
3       skincare                18.000000
5       haircare                17.000000
..           ...                      ...
594    cosmetics                28.117727
596     haircare                25.504783
597     haircare                27.504078
598     skincare                11.481031
599     skincare                25.533505

[479 rows x 2 columns]

Extended manufacturing lead times were identified in specific product categories, indicating process inefficiencies and the need for production optimization.

In [44]:
df[df['Shipping times'] > 4][['Shipping carriers', 'Shipping times']]

    Shipping carriers  Shipping times
3           Carrier C        6.000000
4           Carrier A        8.000000
6           Carrier C        8.000000
8           Carrier C        7.000000
13          Carrier A        9.000000
..                ...             ...
591         Carrier A        6.297306
592         Carrier A        5.026247
594         Carrier B        6.898319
596         Carrier B        9.253792
598         Carrier C        9.800566

[431 rows x 2 columns]

Shipping carriers with longer delivery times were flagged as performance bottlenecks. This insight can be used to renegotiate contracts or shift to more reliable logistics partners.

In [55]:
df[df['Defect rates'] > 4][['Product type', 'Defect rates', 'Inspection results']]

    Product type  Defect rates Inspection results
1       skincare      4.854068            Pending
2       haircare      4.580593            Pending
3       skincare      4.746649               Fail
20      skincare      4.231417               Pass
40      skincare      4.213269            Pending
..           ...           ...                ...
581     skincare      4.939255               Fail
591     skincare      4.043847            Pending
592     haircare      4.545671               Fail
597     haircare      4.515002               Fail
599     skincare      4.140979               Fail

[89 rows x 3 columns]

Products with defect rates above 4% consistently showed higher failure rates in quality inspections, highlighting the necessity of strengthening quality control checkpoints.

| SCOR Process | Dataset Variables Used                 | Key Insight                       |
| ------------ | -------------------------------------- | --------------------------------- |
| Plan         | Sales, Stock levels                    | Demand variability identified     |
| Source       | Supplier, Lead time                    | Supplier reliability issues found |
| Make         | Production volumes, Manufacturing time | Efficiency gaps observed          |
| Deliver      | Shipping time, Modes                   | Cost–time trade-offs identified   |
| Return       | Defects, Inspections                   | Quality risks highlighted         |

### 11. Final Conclusion

This supply chain analytics project demonstrated how structured operational data can be used to evaluate end-to-end supply chain performance. The study identified gaps in inventory management, supplier responsiveness, manufacturing efficiency, logistics reliability, and quality control. Implementing data-driven decision-making based on these insights can significantly improve business efficiency, customer satisfaction, and supply chain resilience